<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Select bad component
                        <div class="float-right">
                            <button class="btn btn-sm btn-secondary" v-if="currentStep > 0" v-on:click="getPrevStep()">Back</button>
                            <button class="btn btn-sm btn-primary" v-if="mainSelect[currentStep]" v-on:click="getNextStep($event)">Next</button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label>{{ select }}</label>
                            <select v-model="mainSelect[currentStep]" v-on:select="getNextStep($event)" v-if="select" v-bind:name="select" v-on:change="getNextStep($event)" :value="undefined">
                                <option value="" selected disabled hidden>Choose here</option>
                                <option v-for="option in options" v-bind:value="option">{{ option }}</option>
                            </select>
                        </div>

                        <div class="form-group" v-if="pdfPath != null">
                            <a class="btn btn-primary" v-bind:href="pdfPath">Download PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    let importApiPath = "/api/import/";
    export default {
        data() {
            return {
                mainSelect: [],
                pdfPath: null,
                currentStep: 0,
                select: "",
                options: [],
                selected: []
            }
        },
        methods: {
            getNextStep: function (e) {
                this.currentStep++;
                this.selected[e.target.name] = e.target.value;

                let importApiPath = "/api/import/" + this.currentStep;
                axios
                    .get(importApiPath)
                    .then((rsp) => {
                            this.select = rsp.data.select;
                            this.options = rsp.data.options;
                            this.pdfPath = rsp.data.pdfPath;
                    })
                    .catch(error => console.log(error));
            },

            getPrevStep: function (event) {
                this.currentStep--;
                let importApiPath = "/api/import/" + this.currentStep;
                axios
                    .get(importApiPath)
                    .then((rsp) => {
                        this.select = rsp.data.select;
                        this.options = rsp.data.options;
                        this.pdfPath = rsp.data.pdfPath;
                    })
                    .catch(error => console.log(error));
                console.log(this.mainSelect)
            }
        },
        mounted() {
            axios
                .get(importApiPath + this.currentStep)
                .then((rsp) => {
                    this.select = rsp.data.select;
                    this.options = rsp.data.options;
                });
        }
    }
</script>
